/* Estilos específicos para la página de login */
.login-main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - var(--header-height) - var(--nav-height) - 100px);
    padding: 2rem 1rem;
}

.login-container {
    width: 100%;
    max-width: 500px;
    background-color: white;
    border-radius: var(--radius);
    box-shadow: var(--shadow-md);
    padding: 3rem;
    border: 1px solid var(--border-color);
}

.login-logo {
    display: flex;
    justify-content: center;
    margin-bottom: 2.5rem;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-input {
    padding: 1rem 1.25rem;
    border: 1px solid var(--border-color);
    border-radius: var(--radius-sm);
    font-size: 1.1rem;
    transition: border-color 0.2s;
    padding-right: 10%;
    flex: auto;
    background: transparent;
}

.form-input:focus {
    outline: none;
    border-color: var(--primary-color);
}

.login-buttons {
    display: flex;
    justify-content: space-between;
    gap: 1.5rem;
    margin-top: 1rem;
    justify-content: center;
}

.login-buttons .secondary-button {
    background-color: #e5e7eb;
    color: gray;
}

.login-buttons .secondary-button:hover {
    background-color: #0263b7;
    color: white;
    transition: background-color 0.2s;
}

.login-links {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    margin-top: 2rem;
    text-align: center;
}

.login-links button {
    color: var(--primary-color);
    text-decoration: none;
    font-size: 1rem;
}

.login-links button:hover {
    text-decoration: underline;
}

/* Estilos para los iconos de ojo */
.password-input-container {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    
}

.toggle-password-btn {
    position: absolute;
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    height: 24px;
    width: 24px;
}

.eye-icon {
    width: 24px;
    height: 24px;
    transition: transform 0.3s ease;
}

.eye-open, .eye-closed {
    position: absolute;
    top: 0;
    left: 0;
}

.toggle-password-btn:hover .eye-icon {
    transform: scale(1.1);
}

.toggle-password-btn:active .eye-icon {
    transform: scale(0.9);
}